/* sign-out.component.css */
.sign-out-container {
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5E239D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6d06dc;
}